fastapi
uvicorn
gunicorn
requests
yfinance
pandas
numpy
pymongo
certifi
dnspython
statsmodels
prophet
scikit-learn
tensorflow
redis
# Optional: Uncomment if using Redis for distributed caching
# redis-py-cluster